/////////////////////////////////////////////////////////////////// RESET CSS
@import "_reset.scss"; /* resetta lo stile del css */
/////////////////////////////////////////////////////////////////// RESET CSS -------- /

/////////////////////////////////////////////////////////////////// COLORS VARIABLES
$color-green-vivid: rgba(106, 191, 23, 1);
$color-green-darker: rgba(90, 165, 17, 1);
$color-blue: rgba(23, 117, 191, 1);
$color-blue-light: rgb(37, 153, 242);
$color-gray-light: rgba(242, 245, 248);
$color-gray-regular: rgba(171, 171, 171, 1);
$color-gray-darker: rgba(88, 88, 88);
$color-black: black;
$color-white: white;
/////////////////////////////////////////////////////////////////// COLORS VARIABLES -------- /

/////////////////////////////////////////////////////////////////// MIXINS

@mixin wrapper-size {
    width: 90%;
    margin: 0 auto;
}

@mixin title-big {
    font-size: 5rem;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 900;
}

@mixin title-medium {
    font-size: 2.7rem;
    font-weight: 900;
    color: $color-green-vivid;
    text-align: center;
}

@mixin title-regular {
    font-size: 2rem;
    font-weight: 900;
    color: $color-blue;
    text-align: center;
}

@mixin title-small {
    font-size: 1.3rem;
    color: $color-gray-darker;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem 0;
}

@mixin title-list {
    font-size: 1.2rem;
    color: $color-black;
    text-transform: uppercase;
    font-weight: 900;
}

@mixin btn-primary {
    background-color: $color-blue;
    color: $color-white;
    padding: 0.8rem 1.8rem;
    border-radius: 3rem;
    text-transform: uppercase;
    font-weight: 900;

    &:hover {
        background-color: $color-blue-light;
        cursor: pointer;
    }
}
/////////////////////////////////////////////////////////////////// MIXINS -------- /
