/////////////////////////////////////////////////////////////////// RESET CSS
@import "_reset.scss"; /* resetta lo stile del css */
/////////////////////////////////////////////////////////////////// RESET CSS -------- /

/////////////////////////////////////////////////////////////////// COLORS VARIABLES
$color-green-vivid: rgba(106, 191, 23, 1);
$color-green-darker: rgba(90, 165, 17, 1);
$color-blue: rgba(23, 117, 191, 1);
$color-gray-light: rgba(248, 251, 252, 1);
$color-gray-regular: rgba(171, 171, 171, 1);
$color-black: black;
$color-white: white;
/////////////////////////////////////////////////////////////////// COLORS VARIABLES -------- /

/////////////////////////////////////////////////////////////////// MIXINS
@mixin title-1 {
    font-size: 1rem;
    color: $color-green-vivid;
}
@mixin btn-primary {
    background-color: $color-blue;
    color: $color-white;
    padding: 0.4rem 1.6rem;
    border-radius: 3rem;
    text-transform: uppercase;
}
/////////////////////////////////////////////////////////////////// MIXINS -------- /
